@import '../../styles/_colors'

.Cell
    width: 64px
    height: 64px
    display: flex
    justify-content: center
    align-items: center
    cursor: pointer
    img
        width: 48px
        height: 48px
        position: relative

.SelectedFigure 
    background-color: $selected-sell

.BlackCell
    background-color: $black-cell

.WhiteCell
    background-color: $white-cell

.AvailableCellForMove
    height: 12px
    width: 12px
    border-radius: 50%
    background-color: $available-cell

.AvailableCellForAttack 
    background: green