@import '../../styles/_colors'

.Cell
    width: 64px
    height: 64px
    display: flex
    justify-content: center
    align-items: center
    cursor: pointer
    img
        width: 48px
        height: 48px
        position: relative

.Selected 
    background-color: $selected-sell

.Black
    background-color: $black-cell

.White
    background-color: $white-cell

.Available
    height: 12px
    width: 12px
    border-radius: 50%
    background-color: $available-cell